h2 {
    vertical-align:middle;
    font-size: 25px;
    color: white;
}

h3 {
    font-size: 18px;
}


.section-class {
    background:#71afe5;
    padding: 20px;
    width: 500px;
    display:block;
    border-radius: 10px;
    margin: 0 auto;
    border-top: 5px solid #014ba0;
    border-bottom: 5px solid #014ba0;
    
}


header,p {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color:#deecf9 ;
}

.boton-personalizado {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color:#2b88d8 ;
    border-color:#0078d4;
    border-radius: 2px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    display: inline-block;
}

