body {
    background-color:#deecf9 ;/* se define el color del fondo o cuerpo de la pagina */
    font-family:Georgia, 'Times New Roman', Times, serif;/* se utilza para cambiar el tipo de letra */
}

.menu {
    list-style: none;/* utiliza para quitar la apariencia de las lineas decorativas del texto */
    padding: 0;/* se utiliza para establecer un area de relleno */
    background-color: #014ba0;/* se define el color del fondo */
    width: 100%;/* se define la anchura de un elemento */
    max-width: 1350px;/* para establecer el ancho maximo de un elemento */
    margin: auto;/* establece el area del margen*/
}

.menu li a {
    text-decoration: none;/* utiliza para cambiar la apariencia de las lineas decorativas del texto */
    color: white;/* se utiliza para cambiar el color de la letra */
    padding: 25px;/* se utiliza para establecer un area de relleno */
    display: block;/*establece si un elemento se trata de bloque o en linea */
}

.menu li {
    display: inline-block;/* permite establecer un alto y ancho en un elemento */
    text-align: center;/* para alinear el texto horizontalmente */
}

.menu li a:hover {
    background: #0078d4;/* se define el color del fondo */
}



header {
    padding: 10px;/* se utiliza para establecer un area de relleno */
    text-align: center;/* para alinear el texto horizontalmente */
    background-color: #092327;/* se define el color del fondo */
    color: white;/* se utiliza para cambiar el color de la letra */
}    


.boton-registro{
    text-decoration: none;/* utiliza para quitar la apariencia de las lineas decorativas del texto */
    font-size: 23px;/* se utiliza para cambiar el tamaño de la letra */
    color: white;/* se utiliza para cambiar el color de la letra */
    background-color:#2b88d8 ;/* se define el color del fondo */
    border-color:#0078d4;/* se define el color del borde*/
    border-radius: 10px;/* se utiliza para redondear los bordes*/ 
    cursor: pointer;/* se utiliza para mostrar cuando el puntero del mouse esta sobre un elemento*/
    position: absolute;/*el elemento se coloca absolutamente en su primer padre posicionado*/
    right: 15%;/* especifica la parte de la poscicion de un elemento, en este caso a la derecha*/
    bottom: 78%;/* especifica la parte de la poscicion de un elemento, en este caso en el centro*/

}


.boton-inicio{
    text-decoration: none;/* utiliza para cambiar la apariencia de las lineas decorativas del texto */
    font-size: 23px;/* se utiliza para cambiar el tamaño de la letra */
    color: white;/* se utiliza para cambiar el color de la letra */
    background-color:#2b88d8 ;/* se define el color del fondo */
    border-color:#0078d4;/* se define el color del borde*/
    border-radius: 10px;/* se utiliza para redondear los bordes*/
    cursor: pointer;/* se utiliza para mostrar cuando el puntero del mouse esta sobre un elemento*/
    position: absolute;/*el elemento se coloca absolutamente en su primer padre posicionado*/
    right: 3%;/* especifica la parte de la poscicion de un elemento, en este caso a la derecha*/
    bottom: 78%;/* especifica la parte de la poscicion de un elemento, en este caso en el centro*/
}

a {
    text-decoration: none;/* utiliza para cambiar la apariencia de las lineas decorativas del texto */
    color: white;/* se utiliza para cambiar el color de la letra */
}


.section-class-alimentos {
    background:#4083bd;/* se define el color del fondo */
    padding: 5px;/* se utiliza para establecer un area de relleno */
    width: 1270px;/* se define la anchura de un elemento */
    border-radius: 10px;/* se utiliza para redondear los bordes*/
    text-align: center;/* utiliza para alinear el texto al centro */
    position: relative;
    left: 2%;
    color: white;  
}


.section-class-bebidas {
    background:#4083bd;/* se define el color del fondo */
    padding: 5px;/* se utiliza para establecer un area de relleno */
    width: 1270px;/* se define la anchura de un elemento */
    border-radius: 10px;/* se utiliza para redondear los bordes*/
    text-align: center;/* se utiliza para centrar el texto */ 
    position: relative;/* determina el punto de referencia donde se debe localizar cada elemento */ 
    left: 2%;/* especifica la posicion de un elemento */  
    color: white;/* utiliza para cambiar el color del texto */  
}


.section-class-dulces {
    background:#4083bd;/* se define el color del fondo */
    padding: 5px;/* se utiliza para establecer un area de relleno */
    width: 1270px;/* se define la anchura de un elemento */
    border-radius: 10px;/* se utiliza para redondear los bordes*/
    text-align: center;/* se utiliza para centrar el texto */  
    position: relative;/* determina el punto de referencia donde se debe localizar cada elemento */  
    left: 2%;/* especifica la posicion de un elemento */  
    color: white;/* utiliza para cambiar el color del texto */  
}

.section-class-opciones-alimentos {
    background:#71afe5;/* se define el color del fondo */
    padding: 20px;/* se utiliza para establecer un area de relleno */
    width: 1000px;/* se define la anchura de un elemento */
    display: block;/*establece si un elemento se trata de bloque o en linea */
    border-radius: 10px;/* se utiliza para redondear los bordes*/
    margin: 0 auto;/* establece el area del margen*/
    border-top: 5px solid #014ba0;/* se define el color del borde superior*/
    border-bottom: 5px solid #014ba0;/* se define el color del borde inferior*/
}

.section-class-opciones-bebidas {
    background:#71afe5;/* se define el color del fondo */
    padding: 20px;/* se utiliza para establecer un area de relleno */
    width: 1000px;/* se define la anchura de un elemento */
    display: block;/*establece si un elemento se trata de bloque o en linea */
    border-radius: 10px;/* se utiliza para redondear los bordes*/
    margin: 0 auto;/* establece el area del margen*/
    border-top: 5px solid #014ba0;/* se define el color del borde superior*/
    border-bottom: 5px solid #014ba0;/* se define el color del borde inferior*/
}

.section-class-opciones-dulces {
    background:#71afe5;/* se define el color del fondo */
    padding: 20px;/* se utiliza para establecer un area de relleno */
    width: 1000px;/* se define la anchura de un elemento */
    display: block;/*establece si un elemento se trata de bloque o en linea */
    border-radius: 10px;/* se utiliza para redondear los bordes*/
    margin: 0 auto;/* establece el area del margen*/
    border-top: 5px solid #014ba0;/* se define el color del borde superior*/
    border-bottom: 5px solid #014ba0;/* se define el color del borde inferior*/
}


.section-class-menu {
    font-size: 23px;/* se utiliza para cambiar el tamaño de la letra */
    text-align: center;/* se utiliza para alinear el texto */
    color: #092327;/* se utiliza para cambiar el color de la letra */
    font-family:Georgia, 'Times New Roman', Times, serif;/* se utilza para cambiar el tipo de letra */
}


.boton-mas-alimentos {
    text-decoration: none;/* utiliza para cambiar la apariencia de las lineas decorativas del texto */
    font-size: 20px;/* se utiliza para cambiar el tamaño de la letra */
    color: white;/* se utiliza para cambiar el color de la letra */
    background-color:#2b88d8;/* se define el color del fondo */
    border-color:#0078d4 ;/* se define el color del borde*/
    border-radius: 3px;/* se utiliza para redondear los bordes*/
    display: block;/*establece si un elemento se trata de bloque o en linea */
    margin-right: auto;/* establece el area del margen*/
    margin-left: auto;/* establece el area del margen*/  
}

.boton-mas-bebidas {
    text-decoration: none;/* utiliza para cambiar la apariencia de las lineas decorativas del texto */
    font-size: 20px;/* se utiliza para cambiar el tamaño de la letra */
    color: white;/* se utiliza para cambiar el color de la letra */
    background-color:#2b88d8;/* se define el color del fondo */
    border-color:#0078d4 ;/* se define el color del borde*/
    border-radius: 3px;/* se utiliza para redondear los bordes*/
    display: block;/*establece si un elemento se trata de bloque o en linea */
    margin-right: auto;/* establece el area del margen*/
    margin-left: auto;/* establece el area del margen*/  
}

.boton-mas-dulces {
    text-decoration: none;/* utiliza para cambiar la apariencia de las lineas decorativas del texto */
    font-size: 20px;/* se utiliza para cambiar el tamaño de la letra */
    color: white;/* se utiliza para cambiar el color de la letra */
    background-color:#2b88d8;/* se define el color del fondo */
    border-color:#0078d4 ;/* se define el color del borde*/
    border-radius: 3px;/* se utiliza para redondear los bordes*/
    display: block;/*establece si un elemento se trata de bloque o en linea */
    margin-right: auto;/* establece el area del margen*/
    margin-left: auto;/* establece el area del margen*/  
}



.class-info-a {
    font-size: 17px;/* se utiliza para cambiar el tamaño de la letra */
    color:white; /* se utiliza para cambiar el color de la letra */ 
    background-color:#014ba0;/* se define el color del fondo */
    padding: 10px; /* se utiliza para establecer un area de relleno */
    width: 300px;/* se define la anchura de un elemento */
    border-radius: 3px; /* se utiliza para redondear los bordes*/
    position: relative;/* determina la ubicacion de el elemento*/
    right: -25%;/* se utiliza para posicionar un elemento */
    text-align: left;/* se utiliza para alinear el texto */
}

/* de classe-info-a a la class-info-o  es exactamente las mismas funciones en todas */
.class-info-b {
    font-size: 17px; 
    color:white;  
    background-color:#014ba0;
    padding: 10px; 
    width: 300px;
    border-radius: 3px; 
    position: relative;
    right: -25%;
    text-align: left;
}

.class-info-c {
    font-size: 17px;
    color:white;  
    background-color:#014ba0;
    padding: 10px; 
    width: 300px;
    border-radius: 3px; 
    position: relative;
    right: -25%;
    text-align: left;
}

.class-info-d {
    font-size: 17px;
    color:white;  
    background-color:#014ba0;
    padding: 10px; 
    width: 300px;
    border-radius: 3px; 
    position: relative;
    right: -25%;
    text-align: left;
}

.class-info-e {
    font-size: 17px;
    color:white;  
    background-color:#014ba0;
    padding: 10px; 
    width: 300px;
    border-radius: 3px; 
    position: relative;
    right: -25%;
    text-align: left;
}

.class-info-f {
    font-size: 17px;
    color:white;  
    background-color:#014ba0;
    padding: 10px; 
    width: 300px;
    border-radius: 3px; 
    position: relative;
    right: -25%;
    text-align: left;
}

.class-info-g {
    font-size: 17px;
    color:white;  
    background-color:#014ba0;
    padding: 10px; 
    width: 300px;
    border-radius: 3px; 
    position: relative;
    right: -25%;
    text-align: left;
}

.class-info-h {
    font-size: 17px;
    color:white;  
    background-color:#014ba0;
    padding: 10px; 
    width: 300px;
    border-radius: 3px; 
    position: relative;
    right: -25%;
    text-align: left;
}

.class-info-i {
    font-size: 17px;
    color:white;  
    background-color:#014ba0;
    padding: 10px; 
    width: 300px;
    border-radius: 3px; 
    position: relative;
    right: -25%;
    text-align: left;
}

.class-info-j {
    font-size: 17px;
    color:white;  
    background-color:#014ba0;
    padding: 10px; 
    width: 300px;
    border-radius: 3px; 
    position: relative;
    right: -25%;
    text-align: left;
}
.class-info-k {
    font-size: 17px;
    color:white;  
    background-color:#014ba0;
    padding: 10px; 
    width: 300px;
    border-radius: 3px; 
    position: relative;
    right: -25%;
    text-align: left;
}
.class-info-l {
    font-size: 17px;
    color:white;  
    background-color:#014ba0;
    padding: 10px; 
    width: 300px;
    border-radius: 3px; 
    position: relative;
    right: -25%;
    text-align: left;
}
.class-info-m {
    font-size: 17px;
    color:white;  
    background-color:#014ba0;
    padding: 10px; 
    width: 300px;
    border-radius: 3px; 
    position: relative;
    right: -25%;
    text-align: left;
}
.class-info-n {
    font-size: 17px;
    color:white;  
    background-color:#014ba0;
    padding: 10px; 
    width: 300px;
    border-radius: 3px; 
    position: relative;
    right: -25%;
    text-align: left;
}
.class-info-o {
    font-size: 17px;
    color:white;  
    background-color:#014ba0;
    padding: 10px; 
    width: 400px;
    border-radius: 3px; 
    position: relative;
    right: -25%;
    text-align: left;
}

img {
    position: absolute;/* se utiliza para posicionar un elemento */
}
